Package: jzplusplus.OkSiri
Name: OkSiri
Version: 1.0-1
Description: 
Section: System
Depends: firmware (>= 7.0), mobilesubstrate, preferenceloader, libstatusbar, com.a3tweaks.flipswitch
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Jay Zuerndorfer
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

